# Execution/environment artifacts
*.log
*.pot
*.pyc
local_settings.py

# Currently editing files, IDE, libs
.*.sw*
.project
build

# Media content
media

# Internationalization compiled messages
*.mo
