{% extends "base.html" %}

{% block head %}
<script type='text/javascript'>
  google.load('visualization', '1', {packages:['orgchart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Descendent');
    data.addRows([
    {% for p in family %}
        [{v:'{{ p.id }}', f:'{{ p.name }}'}, '{% if p.father %}{{ p.father.id}}{% endif %}'],
    {% endfor %}
    ]);
    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
    chart.draw(data, {allowHtml:true});
  }
</script>
{% endblock %}

{% block body %}
<div id='chart_div'></div>
{% endblock %}
