{% load i18n %}

[{ v:'{{ p.id }}',
f:'<a href="{% url person_detail p.id %}">{{ p.name_complete }}</a>' +
     '<div style="color:red; font-style:italic">' +
        {% if p.picture %}
          '<img src="{{ MEDIA_URL }}{{ p.picture }}" ' +
                  'height="{{ p.picture_height }}" ' +
                  'width="{{ p.picture_width }}" ' +
                  'alt="Photo for {{ p.name_complete }}"><br>' +
        {% endif %}
        '{% trans "Born in" %} {{ p.born_in }}<br>' +
        {% if p.deceased_in %}
            '{% trans "Deceased in" %} {{ p.deceased_in }}<br>' +
        {% endif %}
     '</div>'
 },
 {% if p.father and p.father.family == family %}
    '{{ p.father.id}}'
 {% elif p.mother and p.mother.family == family %}
    '{{ p.mother.id }}'
 {% endif %},
 'test'
],
