{% extends "tree/tree_base.html" %}

{% load i18n %}

{% block head %}
<script type='text/javascript'>
  google.load('visualization', '1', {packages:['orgchart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Name');
    data.addColumn('string', 'Descendent');
    data.addColumn('string', 'Information');
    data.addRows([
      {% include nodes_template %}
    ]);
    var chart = new google.visualization.OrgChart(
        document.getElementById('chart_div'));
    chart.draw(data, {allowHtml:true});
  }
</script>
{% endblock %}

{% block body %}
<h3>
  {% if restricted %}
    <a href="{% url tree_chart_complete family.id  %}">
        {% trans "Go to a complete family representation." %}
    </a>
  {% else %}
    <a href="{% url tree_chart_restricted family.id  %}">
        {% trans "Go to a sure name restricted representation." %}
    </a>
  {% endif %}

</h3>
<div id='chart_div'></div>
{% endblock %}
