{% extends "base.html" %}

{% load i18n %}

{% block basehead %}
{% endblock %}

{% block basebody %}

<a href="{% url events_format family.id %}">{% trans "Change format." %}</a>
&nbsp;
<a href="#">{% trans "Add event" %}</a>&nbsp;
<a href="{% url family_list %}">{% trans "Change family." %}</a><br>

<table border="1">
  <tr>
    <td>{% trans "Date" %}</td>
    <td>{% trans "Persons involved" %}</td>
    <td>{% trans "Situation" %}</td>
  </tr>
  {% for e in events %}
    <tr>
      <td><a href="#">{{ e.occurred_in }}</a></td>
      <td>
        {% for p in e.persons.all %}
          <a href="{% url person_detail p.id %}">
            {{ p.name }}
          </a>
        {% endfor %}
      </td>
      <td>{{ e.description }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
