{% extends "base.html" %}

{% load i18n %}

{% block basehead %}
    <title>fquest - {% trans "Family detail" %}</title>
{% endblock %}

{% block basebody %}

  <a href="#">{% trans "Add other family" %}</a>&nbsp;
  <a href="#">{% trans "Edit this family" %}</a>&nbsp;
  <a href="{% url family_list %}">{% trans "Change family" %}</a>&nbsp;
  <a href="{% url tree_chart_complete object.id %}">
    {% trans "Family tree" %}
  </a>
  <br><br>
  <table border="1">
      <tr>
        <td>{% trans "Sure name" %}</td>
        <td>{{ object.sure_name }}</td>
      </tr>
      <tr>
        <td>{% trans "Leadership" %}</td>
        <td>{{ object.get_leadership_display }}</td>
      </tr>
  </table>
  <p>
    {% trans "Persons in this family" %}:<br>
    <ul>
      {% for p in persons %}
        <li>
          <a href="{% url person_detail p.id %}">{{ p.name_complete }}</a>
        </li>
      {% endfor %}
    </ul>
  </p>
{% endblock %}
