{% extends "family/family_base.html" %}

{% block head %}
    <title>fquest - Family detail</title>
{% endblock %}

{% block body %}

  <a href="{% url family_list %}">Change family</a>&nbsp;
  <a href="{% url tree_chart_complete object.id %}">Family tree</a>
  <br><br>
  <table border="1">
      <tr>
        <td>Sure name</td>
        <td>{{ object.sure_name }}</td>
      </tr>
      <tr>
        <td>Leadership</td>
        <td>{{ object.get_leadership_display }}</td>
      </tr>
  </table>
  <p>
    Persons in this family:<br>
    <ul>
      {% for p in persons %}
        <li>
          <a href="{% url person_detail p.id %}">{{ p.name_complete }}</a>
        </li>
      {% endfor %}
    </ul>
  </p>
{% endblock %}
